body {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1ABC9C;
       font-weight: 300;
}

.wrapper {
    margin: 0 auto;
    padding: 10px;
}

label{
    font-size: 12px;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

.admin-icon {
    opacity: 0.5;
    transition: opacity 0.25s;
}

.admin-icon:hover {
    opacity: 1;
}


.errorlist {
    color: red;
    list-style: outside none none;
    display: inline-block;
    padding-left: 10px;
}

.btn-red {
    background: #F22613;
    color: #fff;
}

.btn-red:hover {
    background: #EF4836;
}

.btn-green {
    background: #26A65B;
    color: #fff;
}

.btn-green:hover {
    background: #2ECC71;
}

.user-info {
    color: #fff;
    padding: 10px;
    float: right;
}

.user-info img {
    height: 20px;
}
.rcorners {
    border-radius: 25px;
    border: 2px solid #1ABC9C;
    padding: 20px;
    margin: 10px;
}

.rcorners h3{
    margin-top:0;
}
.movie-container {
    width: 90%;
    margin: 0px auto;
    margin-left: auto ;
    margin-right: auto ;
}

.movie-container h2 {
    text-align: center;
}
.movie-container .movie-time {
    margin-left:12px;
    color: #888;
}