{% extends "base.html" %}

{% block content %}

<div class="movie-container">
    {% if userprofile %}
        <p>Sort by: <a href="/user?name={{name}}&sort_by=like">Likes</a> | <a href="/user?name={{name}}&sort_by=hate"> Hates</a> | <a href="/user?name={{name}}&sort_by=date"> Dates</a></p>
        <h2>Movies uploaded by {{name}}</h2>
    {% else %}
        <p>Sort by: <a href="/?sort_by=like">Likes</a> | <a href="/?sort_by=hate"> Hates</a> | <a href="/?sort_by=date"> Dates</a></p>
        <h2>All movies</h2>
    {% endif %}

    {% for movie in movies %}
        <div class="rcorners">
            {% include "movie.html" %}
        </div>
    {% empty %}
        <p>No movies found {% if userprofile %} for {{name}}{% endif %}</p>
    {%endfor%}

</div>

{% endblock %}